.bar {
    position: relative;
    display: flex;
    width: 100%;
    height: 90px;
    background-color: rgba(47, 72, 88, 1);
    justify-content: space-between;
  }
  
  .menu {
    width: 135px;
    height: 150px;
    background-color: rgb(121, 151, 170);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    position: absolute;
    right: 10%;
    top: 107%;
  }
  .btn_p {
    background-color: transparent;
    border: none;
    font-size: medium;
    color: #ffffff;
    cursor: pointer;
  }
  .l{
      margin-top: 15px;
      margin-bottom: 15px;
      text-decoration: none;
      font-weight: bold;
  }
  .logo_ {
    width: 139.6px;
    height: 59.4px;
    margin-left: 184.86px;
    margin-top: 18px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .perfil {
    display: flex;
    flex-direction: row;
    margin-right: 184.86px;
    margin-top: 22px;
    margin-bottom: 28px;
  }
  .icon {
    display: flex;
    background-color: #ffffff;
    width: fit-content;
    height: 23px;
    border-radius: 50px;
    padding: 15px;
    justify-content: center;
    align-items: center;
  }
  
  .btn_expand {
    width: 30px;
    height: 30px;
    display: flex;
    background-color: transparent;
    border-radius: 100px;
    border: transparent;
    cursor: pointer;
    padding-top: 8px;
  }
  
  @media (max-width: 1148px) {
    .logo_{
      margin-left: 0px;
    }
  
  }
  
  @media (max-width: 923px) {
    .perfil{
      margin-right: 0px;
    }
  
  }